# Normaliza line endings a LF en la VPS Linux
* text=auto eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
docker-compose*.yaml text eol=lf
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sql text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
